@model List<RemaSoftware.Domain.Models.MyUser>
<div class="card shadow mb-4">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Utenti associati al Ciente</h4>
        <div>
            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddClientUser", "Client")'">Aggiungi Utente</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-clientusers" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.Name</td>
                        <td>@client.Surname</td>
                        <td>@client.Email</td>
                        <td class="text-center">
                            <i class="fas fa-trash fa-lg pl-2" style="cursor: pointer; color: lightgray"  title="Elimina" data-toggle="modal" data-target="#confirm-del-modal"></i>     
                            <a style="text-decoration: none" href=''>
                                <i class="fas fa-pen fa-lg pl-2" title="Modifica" style="cursor: pointer; color: lightgray"></i>
                            </a>     
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
