@model RemaSoftware.WebApp.Models.MachineViewModel.MachineViewModel

@{
    ViewData["Title"] = "Automatic machine";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>
<h4 class="m-0 font-weight-bold text-primary mb-3">Macchina automatica 4.0</h4>
<div class="row" style="overflow-x: auto;">
    <div class="col-md-12 col-xl-12 mb-4" style="overflow-x: auto;">
        <div class="row mb-5" style="height: 150px;">
            <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Informazioni prodotto
                                </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">Macchina Pulimentatrice Automatica 4.0</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">Impianto tavola rotante per lavorazione di particolari</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">ARCOS W470</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-industry fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Informazioni fornitore
                                </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">Arcos S.R.L.</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">Via L. da Vinci 15/c 25064 Gussago (BS)</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">P.IVA 00301640173</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-info fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="m-0 font-weight-bold text-primary mb-3">Informazioni macchinario</h4>
        <div class="row mb-3">
            <div class="col-xl-6 col-md-6 mb-6">
                @if(Model.MachineOn){
                <div class="card border-bottom-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Attivazione</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">La macchina è in funzione</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-solid fa-2xl fa-circle" style="color: #1DC789; font-size: 25px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                }
                else
                {
                    <div class="card border-bottom-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Attivazione</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">La macchina è spenta</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-solid fa-2xl fa-circle" style="color: red; font-size: 25px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-bottom-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Stato macchina (Ultimo stato rilevato)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Stato della macchina ok</div>
                            </div>
                            <div class="col-auto">
                                 <i class="fas fa-solid fa-2xl fa-check" style="color: #1DC789; font-size: 25px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4 mb-6">
                @if (Model.Brush1_On)
                {
                    <div class="card border-bottom-success shadow mb-4">
                        <a href="#collapseCard1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard1">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 1</h6>
                        </a>
                        <div class="collapse" id="collapseCard1" style="">
                            <div class="card-body">
                                Spazzola in funzione
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card border-bottom-danger shadow mb-4">
                        <a href="#collapseCard1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard1">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 1</h6>
                        </a>
                        <div class="collapse" id="collapseCard1" style="">
                            <div class="card-body">
                                Spazzola spenta
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xl-4 col-md-4 mb-6">
                @if (Model.Brush2_On)
                {
                    <div class="card border-bottom-success shadow mb-4">
                        <a href="#collapseCard2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard2">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 2</h6>
                        </a>
                        <div class="collapse" id="collapseCard2" style="">
                            <div class="card-body">
                                Spazzola in funzione
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card border-bottom-danger shadow mb-4">
                        <a href="#collapseCard2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard2">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 2</h6>
                        </a>
                        <div class="collapse" id="collapseCard2" style="">
                            <div class="card-body">
                                Spazzola spenta
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xl-4 col-md-4 mb-6">
                @if (Model.Brush3_On)
                {
                    <div class="card border-bottom-success shadow mb-4">
                        <a href="#collapseCard3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard3">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 3</h6>
                        </a>
                        <div class="collapse" id="collapseCard3" style="">
                            <div class="card-body">
                                Spazzola in funzione
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card border-bottom-danger shadow mb-4">
                        <a href="#collapseCard3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard3">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 3</h6>
                        </a>
                        <div class="collapse" id="collapseCard3" style="">
                            <div class="card-body">
                                Spazzola spenta
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-6">
                @if (Model.Brush4_On)
                {
                    <div class="card border-bottom-success shadow mb-4">
                        <a href="#collapseCard4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard4">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 4</h6>
                        </a>
                        <div class="collapse" id="collapseCard4" style="">
                            <div class="card-body">
                                Spazzola in funzione
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card border-bottom-danger shadow mb-4">
                        <a href="#collapseCard4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard4">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 4</h6>
                        </a>
                        <div class="collapse" id="collapseCard4" style="">
                            <div class="card-body">
                                Spazzola spenta
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xl-6 col-md-6 mb-6">
                @if (Model.Brush5_On)
                {
                    <div class="card border-bottom-success shadow mb-4">
                        <a href="#collapseCard5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard5">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 5</h6>
                        </a>
                        <div class="collapse" id="collapseCard5" style="">
                            <div class="card-body">
                                Spazzola in funzione
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card border-bottom-danger shadow mb-4">
                        <a href="#collapseCard5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard5">
                            <h6 class="m-0 font-weight-bold text-primary">Spazzola 5</h6>
                        </a>
                        <div class="collapse" id="collapseCard5" style="">
                            <div class="card-body">
                                Spazzola spenta
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>