@model RemaSoftware.Models.OrderViewModel.CopyOrderViewModel

<div class="modal fade" id="copy-ord-modal" tabindex="-1" role="dialog" aria-labelledby="modal-head" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-head">Duplica Prodotto</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align:center;" class="pb-2 font-italic h6">Inserisci i seguenti dati</p>
                <div class="row">
                    <div class="col-12" id="div-list-ops">
                        <form method="post" id="form-copy-ord">
                            <input id="id_ordine" type="hidden" asp-for="OrderId">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Codice DDT</label>
                                <input class="form-control" type="text" asp-for="Code_DDT" placeholder="Inserisci nuovo codice DDT">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Inserire il numero di pezzi</label>
                                <input class="form-control" type="number" asp-for="NumberPiece" placeholder="Inserisci il numero di pezzi">
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button  class="btn btn-primary" onclick="SaveNewOrder()">Conferma</button>
            </div>
        </div>
    </div>
</div>
