@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RemaSoftware.WebApp.Models.OperationViewModel.AddOperationViewModel

@{
    ViewData["Title"] = "Aggiungi Operazione";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Aggiungi Operazione</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuova Operazione</h6>
    </div>
    <div class="card-body">
        <form method="post" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Nome Operazione *</label>
                    <input asp-for="Name" type="text" class="form-control" id="validationTooltip01" placeholder="Nome Operazione" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationTooltip02">Descrizione</label>
                    <textarea class="form-control" id="validationTooltip02" asp-for="Description" placeholder="Descrizione Operazione" rows="3"></textarea>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Aggiungi</button>
        </form>
    </div>
</div>

