@model RemaSoftware.Models.StockViewModel.StockViewModel
@{
    ViewData["Title"] = "Aggiungi Prodotto";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Aggiungi Prodotto</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuovo ordine</h6>
    </div>
    <div class="card-body">
        <form method="post" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-4">
                    <label for="validationTooltip01">Nome Prodotto *</label>
                    <input asp-for="Name" type="text" class="form-control" id="validationTooltip01" placeholder="Nome Prodotto" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="validationTooltip02">Marca</label>
                    <input asp-for="Brand" type="text" class="form-control" id="validationTooltip02" placeholder="Marca">
                </div>
            </div>
            <div class="form-row">
                
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip03" class="input-number-label">Quantità *</label>
                    <input asp-for="Number_Piece" type="number" class="form-control" id="validationTooltip03" placeholder="Quantità" min="0" required>
                    <span asp-validation-for="Number_Piece" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip04">Prezzo Unitario (IVA Inclusa) *</label>
                    <div class="input-group-append">
                        <input asp-for="Price_Uni" type="number" pattern="^[\d,]+$" class="form-control" id="priceUnit" placeholder="Prezzo Unitario">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip05">Taglia (Inserire anche l'unità di misura)</label>
                    <input asp-for="Size" type="text" class="form-control" id="validationTooltip05" placeholder="Taglia">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Aggiungi</button>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        $('#priceUnit').keypress(function (e) {
            if (e.which == 46) {
                e.preventDefault();
            }
        });
    </script>
}
