@model RemaSoftware.Models.ClientViewModel.ClientViewModel

    @{
        ViewData["Title"] = "Aggiungi Cliente";
    }


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Aggiungi Cliente</h1>
</div>

<form method="post" class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Nome Azienda *</label>
            <input asp-for="Client.Name" type="text" class="form-control" id="validationTooltip01" placeholder="Nome Azienda" required>
            <span asp-validation-for="Client.Name" class="text-danger"></span>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">P. IVA</label>
            <input asp-for="Client.P_Iva" type="text" class="form-control" id="validationTooltip02" placeholder="P. IVA">
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Via</label>
            <input asp-for="Client.Street" type="text" class="form-control" id="validationTooltip02" placeholder="Via">
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">N° Civico</label>
            <input asp-for="Client.StreetNumber" type="text" class="form-control" id="validationTooltip02" placeholder="Numero Civico">
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationTooltip03">Città</label>
            <input asp-for="Client.City" type="text" class="form-control" id="validationTooltip03" placeholder="Città">
            <div class="invalid-tooltip">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip04">CAP</label>
            <input asp-for="Client.Cap" type="text" class="form-control" id="validationTooltip04" placeholder="CAP">
            <div class="invalid-tooltip">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip05">Stato</label>
            <input asp-for="Client.State" type="text" class="form-control" id="validationTooltip05" placeholder="Stato">
            <div class="invalid-tooltip">
                Please provide a valid zip.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Aggiungi</button>
</form>

